.createDeckSearch {
  flex: 1 1 auto;

  min-height: 34px;
  margin-bottom: 15px;
  padding: 5px 10px;

  font-size: var(--text-small);
  color: var(--off-black);

  border-color: var(--off-black);
  border-width: 1px;
}