.createDeckSelector {
  display: flex;
  flex-direction: column;

  flex: 1 1 auto;
  margin-bottom: var(--margin-small);
  padding: var(--padding-small);

  overflow: hidden;

  box-shadow: var(--outside-shadow);
  background: var(--white);
}