.dashboardDeckOptions {
  display: flex;
  justify-content: space-between;
  height: 35px;
  padding: 5px 10px;
}

.iconButton {
  position: relative;

  fill: var(--red);
  background: none;

  border: 1px solid var(--red);
  border-radius: 50%;

  svg {
    height: 100%;
  }
}