.createDeckInfoEntry {
  padding: 4px 8px;
  margin-bottom: 5px;

  font-size: var(--text-small);
  color: var(--off-black);

  border: 1px solid var(--off-black);
  background: none;

  &:not(:last-child) {
    margin-right: 5px;
  }
}

.buttonText {
  margin-right: 8px;
}