.createDeckInfoEntry {
  padding: 4px 8px;

  font-size: var(--text-small);
  color: var(--off-black);

  border: 1px solid var(--off-black);
}

.buttonText {
  margin-right: 8px;
}

.closeIcon {
  // font-size: var(--text-medium);
}