.createDeckTitle {
  padding: var(--padding-small);
  margin-bottom: var(--margin-small);

  box-shadow: var(--outside-shadow);
  background-color: var(--white);
}

.titleInput {
  min-height: 34px;
  width: 100%;
  padding: 5px 10px;

  font-size: var(--text-small);

  color: var(--off-black);
  border: 1px solid var(--off-black);

  &::placeholder {
    color: var(--light-grey);
  } 
}